#forsiden {
    height: 90vh;
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url('Bilder/familie/tur2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;


    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;

}

#forsiden h1 {
    padding: 20px;
    font-size: 50px;
    color: white;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
}

#forsiden>div {
    width: 50%;
    color: white;
    font-size: 20px;
}

#familien {
    padding: 40px;
    height: 800px;
    border-bottom: rgb(96, 156, 202) 5px solid;
    border-bottom-left-radius: 80px;
    border-bottom-right-radius: 80px;

}

.rad1 {
    height: 320px;
    display: flex;
    justify-content: center;
    gap: 200px;
}

.rad2 {
    height: 320px;
    display: flex;
    justify-content: center;
    gap: 200px;
}

.fam {
    width: 200px;
    height: 290px;
    border: 4px solid rgb(96, 156, 202);
    text-align: center;

}

.fam img {
    padding: 10px;
}

.fam p {
    font-size: 18px;
}

#hundene_mine {
    padding: 40px;
}

.hundene_mine {
    padding: 40px;
    color: rgb(96, 156, 202);
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.hundene_mine p {
    padding: 20px;
    font-size: 20px;
    width: 70%;
}

.kenai {
    display: flex;
    justify-content: space-around;
}

.bilder {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 30%;
    padding: 20px;
    border: rgb(96, 156, 202) solid 4px;
    border-bottom-left-radius: 70px;
    border-top-right-radius: 70px;
}

.bilder img {
    width: 150px;
    margin: 10px;
    object-fit: cover;
}

.tekst {
    color: white;
    background-color: rgb(96, 156, 202);
    width: 40%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 70px;
}

.tekst h2 {
    font-size: 30px;
}
.tekst p {
    padding: 20px;
    font-size: 25px;
}

.koda {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}

.bjørn {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}
