#forsiden {
    height: 90vh;
    background-image: url(Bilder/familie/tur2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

#forsiden h1 {
    text-align: center;
    padding: 20px;
    font-size: 50px;
    color: white;
    text-shadow: 1px 1px 4px rgba(0,0,0,0.6);
}