#forsiden {
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url(Bilder/skole/nadderud.jpg);
    height: 90vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
}

#forsiden h1 {
    padding: 20px;
    font-size: 60px;
    color: white;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
}

#forsiden p {
    width: 50%;
    color: white;
    font-size: 30px;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);

}

#fag {
    display: flex;
    justify-content: space-around;
    gap: 60px;
    padding: 40px;
}

.fag {
    width: 30%;
    padding: 30px;
    border: dotted 4px rgb(96, 156, 202);
    border-radius: 40px;
    color: rgb(96, 156, 202);
    
}

.fag h2 {
    padding: 10px;
    text-align: center;
    font-weight: 600;
}

.fag p {
    text-align: center;
    font-size: 20px;
}

.fag ul {
    font-size: 20px;
    padding: 20px;
    line-height: 1.8;
}


#timeplan {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    gap: 30px;
    padding-bottom: 100px;
}

#timeplan h1 {
    font-weight: 600;
}

table {
            border-collapse: collapse;
            text-align: center;
        }

        td {
            border: 1px black solid;
            padding: 10px;
            font-size: 20px;
            
        }

        .overskrift {
            background-color: pink;
            font-weight: bolder;
        }

        .timer {
            background-color: lightblue;
            font-weight: bold;
        }

        .it {
            background-color: rgba(150, 235, 150, 0.766);
        }

        .matte {
            background-color: rgb(217, 145, 246);
        }

        .norsk {
            background-color: rgba(240, 62, 62, 0.63);
        }

        .re {
            background-color: rgba(251, 178, 61, 0.756);
        }

        .historie {
            background-color: rgb(255, 213, 0);
        }

        .fysikk {
            background-color: rgba(96, 96, 208, 0.771);
        }

        .gym {
            background-color: lightskyblue;
        }

#ai h1 {
    padding: 20px;
    font-size: 40px;
    background-color: rgb(96, 156, 202);
    color: white;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
    text-align: center;
}

#ai > div {
    display: flex;
    justify-content: center;
    height: 450px;
    gap: 100px;
    padding: 50px;
}

#ai > div > div {
    text-align: center;
    border: dotted 4px rgb(96, 156, 202);
    border-radius: 30px;
    padding: 40px;
    color: rgb(96, 156, 202);
    font-size: 20px;
    width: 30%;
}

#ai img {
    border-radius: 30px;
}